<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pais</title>
</head>
<body>
    <h1>Tabla de Paises</h1>
    <a href="{% url 'pais_create' %}">Agregar País</a>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Pais</th>
            <th>Acciones</th>
        </tr>
        {% for pais in paises %}
        <tr>
            <td>{{ pais.id_pais }}</td>
            <td>{{ pais.pais}}</td>
            <td>
                <a href=" {% url 'pais_delete' id_pais=pais.id_pais %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>



